<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AE Travel Madagascar | Voyage 2 jours</title>
  <meta
    content="Un tour opérateur local qui propose des circuits touristiques sur tout Madagascar, des excursions aux alentours d'Antananrivo et des petits voyages de 02 à 03 jours."
    name="description">
  <meta
    content="ae travel,ae travel mada,voyage à madagascar,circuit est de madagascar,excursions aux alentours d'Antananarivo,circuit RN7,tsingy de bemaraha,marojejy,lemur's park,lac andranotoraha,anjiro,chute d'andriamamovoka,andasibe,ankafobe,excursion antsirabe,vohimana,nosy be,diego,sainte marie"
    name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/favicon.png" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Product+Sans:wght@400;700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <!-- <i class="bi bi-envelope-fill"></i><a href="mailto:contact@ae-travel-mada.com">contact@ae-travel-mada.com</a> -->
        <i class="bx bxl-whatsapp"></i> +261 32 62 313 26
      </div>
      <div class="social-links d-none d-md-block">
        <a href="https://web.facebook.com/aesteam.mada" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/ae_s_team_madagascar/" class="instagram"><i class="bi bi-instagram"></i></a>
        <!-- <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a> -->
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto">
        <div class="row">
          <div class="col-2">
            <img width='50px' src="../assets/img/favicon.png" alt="">
          </div>
          <div class="col-10 align-middle pt-2">
            <a href="../index.html">AE Travel Madagascar</a>
          </div>
      </h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="../index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="../index.html#hero">Acceuil</a></li>
          <li><a class="nav-link scrollto" href="../index.html#about">Qui sommes-nous ?</a></li>
          <li><a class="nav-link scrollto" href="../index.html#excursion">Excursions</a></li>
          <li><a class="nav-link scrollto " href="../index.html#circuit">Circuits</a></li>
          <li><a class="nav-link scrollto" href="../index.html#voyage">Voyages 02 jours</a></li>
          <li><a class="getstarted scrollto text-capitalize" href="../index.html#contact">Contactez-nous</a></li>
          <li>
            <div class="trans-section">
              <div id="google_translate_element" style="display: none;"></div>
              <div class="dropdown">
                <button class="btn dropdown-toggle ms-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Langue
                </button>
                <ul class="dropdown-menu">
                  <li class="dropdown-item text-capitalize" onclick="translatePage('Français')"> <span
                      class="me-2 fi fi-fr">
                    </span>French
                  </li>
                  <li class="dropdown-item text-capitalize" onclick="translatePage('Anglais')"> <span
                      class="me-2 fi fi-us">
                    </span>English
                  </li>
                  <li class="dropdown-item text-capitalize" onclick="translatePage('Espagnol')"> <span
                      class="me-2 fi fi-es">
                    </span>Spanish
                  </li>
                  <li class="dropdown-item text-capitalize" onclick="translatePage('Italien')"> <span
                      class="me-2 fi fi-it">
                    </span>Italian
                  </li>
                  <li class="dropdown-item text-capitalize" onclick="translatePage('Allemand')"> <span
                      class="me-2 fi fi-gr">
                    </span>German
                  </li>
                  <li class="dropdown-item text-capitalize" onclick="translatePage('Malgache')"> <span
                      class="me-2 fi fi-mg">
                    </span>Malgache
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div v-if="data" class="d-flex justify-content-between align-items-center">
          <h2><strong>{{ data.title }}</strong></h2>
          <ol>
            <li><a href="../index.html">Agence</a></li>
            <li>{{ data.title }}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <!-- General information about the travel -->
        <div v-if="data" class="general row gy-4 p-2">
          <div class="col-md-6 col-sm-12">
            <img class="w-100 shadow rounded"
              :src="'../assets/img/portfolio/'+( data.image_folder || 'andasibe') + '/image-1.jpg'" alt="">
          </div>
          <div class="col-md-6 col-sm-12">
            <p class="justified-text" v-html="data.description"></p>
            <div class="portfolio-info">
              <ul>
                <li v-if="data.duration"><strong>Durée :</strong> {{ data.duration }}</li>
                <li v-if="data.price"><strong>Tarif de base :</strong> {{ data.price }}</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Programs of travel -->
        <div class="program mt-4 px-3">
          <h4 class="text-center py-2">Détails et programme de voyage</h4>
          <div class="row shadow">
            <div class="col-md-6 col-sm-12 ps-0">
              <img class="w-100 h-100 rounded-start"
                :src="'../assets/img/portfolio/'+( data.image_folder || 'andasibe') + '/image-2.jpg'" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" v-for="program in data.programs"><strong>Jour {{ program.day }} :
                  </strong>{{ program.distance }}</li>
                <li class="list-group-item"><strong>FIN DE CIRCUIT</strong></li>
                <li class="list-group-item">
                  <p><small class="text-muted">
                      <strong>NB :</strong> Le nombre de jour est extensible selon votre disponibilité et
                      budget.</small>
                  </p>
                </li>
              </ul>
            </div>
          </div>

          <!-- Details of program -->
          <div class="program-detail pt-5 mt-3">
            <div v-for="program in data.programs">
              <h5>
                <strong> J ~ {{ program.day }} : </strong>
                <span>{{ program.distance }}</span>
              </h5>
              <p class="text-muted">
                <span v-html="program.description"></span>
              </p>
            </div>

            <h5 class="text-center"><strong>~ Fin du circuit ~</strong></h5>

          </div>
        </div>

        <div class="card-group mt-5 mb-3 text-center">
          <div class="card mb-4 shadow border-0">
            <div class="card-header border-0">
              <h4 class="my-0 font-weight-normal">Tarifs</h4>
            </div>
            <div class="card-body">
              <ul class="mt-3 mb-4 text-start" v-if='data'>
                <li v-for="price in data.prices">
                  <h6 class="card-title">{{ price.person_nbr }} <small class="text-muted">: {{ price.price }}</small>
                  </h6>
                </li>
              </ul>
            </div>
          </div>
          <div class="card mb-4 shadow border-0">
            <div class="card-header border-0">
              <h4 class="my-0 font-weight-normal">Inclus dans le tarif</h4>
            </div>
            <div class="card-body">
              <ul class="mt-3 mb-4 text-start" v-if='data'>
                <li v-for="inclusion in data.include">
                  <h6 class="card-title"><small class="text-muted">{{ inclusion }}</small></h6>
                </li>
              </ul>
            </div>
          </div>
          <div class="card mb-4 shadow border-0">
            <div class="card-header border-0">
              <h4 class="my-0 font-weight-normal">Exclus du tarif</h4>
            </div>
            <div class="card-body">
              <ul class="mt-3 mb-4 text-start" v-if='data'>
                <li v-for="exclusion in data.exclude">
                  <h6 class="card-title"><small class="text-muted">{{ exclusion }}</small></h6>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3><img width="100 px" class="logo img-fluid" src="../assets/img/favicon.png" alt=""></h3>
      <p>"Mieux vaut voyager tôt que tard, car la vie est trop courte pour ne pas en profiter."</p>
      <div class="social-links">
        <a href="https://web.facebook.com/aesteam.mada" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://www.instagram.com/ae_s_team_madagascar/" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
      <div class="dropdown">
        <button class="btn btn-outline-light dropdown-toggle mb-3" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Langue
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item text-capitalize" onclick="translatePage('Français')"> <span class="me-2 fi fi-fr">
            </span>French
          </li>
          <li class="dropdown-item text-capitalize" onclick="translatePage('Anglais')"> <span class="me-2 fi fi-us">
            </span>English
          </li>
          <li class="dropdown-item text-capitalize" onclick="translatePage('Espagnol')"> <span class="me-2 fi fi-es">
            </span>Spanish
          </li>
          <li class="dropdown-item text-capitalize" onclick="translatePage('Italien')"> <span class="me-2 fi fi-it">
            </span>Italian
          </li>
          <li class="dropdown-item text-capitalize" onclick="translatePage('Allemand')"> <span class="me-2 fi fi-gr">
            </span>German
          </li>
          <li class="dropdown-item text-capitalize" onclick="translatePage('Malgache')"> <span class="me-2 fi fi-mg">
            </span>Malgache
          </li>
        </ul>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>AE Travel Madagascar</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <script src="../assets/vendor/vuejs/vue.global.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

  <!-- Main JS File -->
  <script src="../assets/js/main.js"></script>
  <script>
    var index = new URLSearchParams(window.location.search).get('index');
    const { createApp } = Vue;

    createApp({

      data() {
        return {
          data: null
        }
      },

      created() {
        this.getData();
      },

      methods: {
        async getData() {
          const res = await fetch('data.json');
          const data = await res.json();
          this.data = data.voyage[index] || data.voyage[0];
        }
      }
    }).mount('#main')
  </script>
  <!----- | ------>

  <!-- Google Tag Manager -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-2EQC69WFZL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-2EQC69WFZL');
  </script>
  <!----- | ------>

  <!-- Google Translate -->
  <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <script type="text/javascript">
    function googleTranslateElementInit() {
      new google.translate.TranslateElement({ pageLanguage: 'fr', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false, includedLanguages: 'en,mg,it,fr,es,de' }, 'google_translate_element');
    }

    function translatePage(lang) {
      googleTranslateElementInit();
      var $iframe = $("iframe.skiptranslate");
      if ($iframe) {
        $iframe.contents().find("span.text:contains('" + lang + "')").click();
      }
    }
  </script>
  <!----- | ------>
</body>

</html>